@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root,
  .dark {
    --background: oklch(0.13 0.005 285.823);
    --foreground: oklch(0.98 0 0);
    --card: oklch(0.18 0.006 285.885);
    --card-foreground: oklch(0.98 0 0);
    --popover: oklch(0.18 0.006 285.885);
    --popover-foreground: oklch(0.98 0 0);
    --primary: oklch(0.705 0.213 47.604);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.23 0.006 285.885);
    --secondary-foreground: oklch(0.98 0 0);
    --muted: oklch(0.21 0.006 285.885);
    --muted-foreground: oklch(0.65 0.015 286.067);
    --accent: oklch(0.705 0.213 47.604);
    --accent-foreground: oklch(1 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --destructive-foreground: oklch(0.98 0 0);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.705 0.213 47.604);
    --chart-1: oklch(0.705 0.213 47.604);
    --chart-2: oklch(0.552 0.016 285.938);
    --chart-3: oklch(0.442 0.017 285.786);
    --chart-4: oklch(0.37 0.013 285.805);
    --chart-5: oklch(0.274 0.006 286.033);
    --radius: 0.75rem;
    --sidebar: oklch(0.16 0.006 285.885);
    --sidebar-foreground: oklch(0.98 0 0);
    --sidebar-primary: oklch(0.705 0.213 47.604);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.23 0.006 285.885);
    --sidebar-accent-foreground: oklch(0.98 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.705 0.213 47.604);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
